html, body {
	width: 100%;
	height: 100%;

}
.main-container {
	width:100%;
}

#Addr_display { 
	width: 80%;
	position: relative;
	left: 0;
	font-size: 18px;
    font-style: italic;
    font-family: initial;
    /*"Times New Roman", Times, serif;*/
   
}

.wrapper {
	width: 100%;
	height: 100%;
	display: block;
	padding: 0;
	padding-bottom: 10px;
	margin: 0;
	background-color: white;
}

.address-items, .menu-items  {
	width: 90%;
	position: relative; 
	left:10%; 
	right: 10%;
	margin-bottom: 50px;
}
div h3 {
	padding-top: 5px;
	padding-bottom: 20px;
}