#Def_Addr_display { 
	position: relative;
	left: 10px;
    font-size: 18px;
    font-style: italic;
    font-family: initial;
    /*"Times New Roman", Times, serif;*/
}
#Nav_Bar{
	width:70%;
	margin:auto;
	/*position: relative;
	left: 100px;*/
}
.nav_bar{
	font-size: 20px;
}
#content_display{
	width: 50%; 
	margin: 0 auto; 
	float:center;
	margin-bottom: 50px;
}

tr:nth-child(odd) 
{
	background: #56A0D3;
}

tr:nth-child(odd) a:link {
    color: #D8D8D8;
}

#error{
	color: red;
}

.inline_display{
	display: inline-block; 
	margin-right: 5px; 
	float: left;
}

