.resImg {
	height: 40px;

}

ul {
	list-style: none outside none;
	margin: 0 auto 1.5em;
	width: 100%;
}

.food-entry {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    margin-bottom: 1em;
    transform: translate3d(0px, 0px, 0px);
    transition-duration: 0.25s;
    transition-property: transform, opacity, margin-top;
    transition-timing-function: ease-in-out;
    width: 100%;
}


li img {
	height: 60px;
}

.food-image, .food, .qty, .price, .rate-bar{
	display:inline-block;
}

.food-image {
	border-bottom: 1px solid rgba(221, 221, 221, 0.35);
    padding: 0.5em;
    vertical-align: middle;
    width: 20%;
}


.food {
	width: 30%;
}

.qty {
	width: 15%;
}

.price {
	width: 15%;
}

.rate-bar {
	width: 20%;
}

.price {
    border-radius: 0 3px 3px 0;
    font-weight: bold;
    vertical-align: middle;
}

.rate-bar {
    /*this class creats 5 stars bar with empty stars */
    /*each star is 16 px, it means 5 stars will make 80px together */
    width: 80px;
    /*height of empty star*/
    height: 16px;
    /*background image with stars */
    background: url(../img/stars.png);
    /*which will be repeated horizontally */
    background-repeat: repeat-x;
    /* as we are using sprite image, we need to position it to use right star, 
    //0 0 is for empty */
    background-position: 0 0;
    /* align inner div to the left */
    text-align: left;
}
.rate {
    /* height of full star is the same, we won't specify width here */
    height: 16px;
    /* background image with stars */
    background: url(../img/stars.png);
    /* now we will position background image to use 16px from top, 
    //which means use full stars */
    background-position: 0 -16px;
    /* and repeat them horizontally */
    background-repeat: repeat-x;
}

.menu {
	width: 100%;
}

#order {
	background-color: #56A0D3;
    border: 0 none;
    border-radius: 3px;
    color: #fff;
    float: right;
    font-size: 25px;
    margin-top: 20px;
    padding: 6px 25px;
    margin-bottom: 20px;
    
}





