@CHARSET "UTF-8";
html {
	height: 100%;
	width: 100%;
}
body {
	height: 100%;
	width: 100%;
	padding-top: 50px;
	background-color: rgba(190, 199, 214, 1);
}

/* Header */
header#main-header {
	color: white;
	width: 100%;
	height: 5vh; /*view point*/ 
	text-align: center;	

	/* Adds shadow to the bottom of the bar */
	-webkit-box-shadow: 0px 0px 8px 0px #000000;
	-moz-box-shadow: 0px 0px 8px 0px #000000;
	box-shadow: 0px 0px 8px 0px #000000;
	/* Adds the transparent background */
	background-color: #56A0D3;
	opacity: 1.0;
}
header h1 {
	padding: 0;
	margin-top: 5px;
	margin-bottom:5px;
	font-family: 'Gloria Hallelujah', cursive;
}
div.header-account {
	position: absolute;
	top: 0;
	right: 20px;
	padding-top: 15px;
	padding-right: 10px;
	display: inline-block;
	color: white;
}
div.header-account a {
	color: white;
}

/* Services */
.services {
    padding: 50px 0;
    background-color: #56A0D3;
}

.service-item {
    margin-bottom: 30px;
}
/* Footer */
footer {
    padding: 100px 0;
    padding-bottom: 30px;
    background-color: white;
    color: black;
}
